HOST = 'host name'
HOSTIP = 'nn.nn.nn.nn'
ROOT_USER = 'root'
ROOT_USER_PASSWORD = 'password'
DEPLOY_USER = 'app name'
DEPLOY_USER_PASSWORD = 'foobar'
DEPLOY_POSTGRES_PASSWORD = 'foobar'
APP_NAME = 'app name'
DB_NAME = "#{APP_NAME}_production"
GIT_HOST = "github.com"
